:root {
    --primary-color: #E7792A;
    --secondary-color: #83C5BE;
    --accent1-color:#1C3041;
}


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

header {
    background: #222;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    background-color: var(--secondary-color);
}

.catalog {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    
}

.catalog img {
    width: 300px;
    height: 300px;
    background-color: transparent;

}

.shirt-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    padding: 1rem;
    transition: transform 0.2s;
    text-align: center;
}

.shirt-card:hover {
    transform: scale(1.05);
}

.shirt-card img {
    width: 200px;
    height: auto;
}

.designer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


.shirt-preview {
    position: relative;
    width: 250px;
    height: 300px;
    margin-bottom: 1rem;
}

.shirt-preview img, #colorOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#colorOverlay {
    background-color: transparent;
    mix-blend-mode: multiply;
    opacity: 0.8;
    pointer-events: none;
    border-radius: 10px;
    transition: background-color 0.4s ease;
}

#designOverlay {
    z-index: 2;
    border: 1px solid black;
    width: 250px;
    height: 300px;
    border-radius: 10px;
}


.controls {
    margin-top: 2rem;
    text-align: center;
    border: 1px solid black;
    flex-wrap: wrap;
}

.designs img {
    width: 80px;
    margin: 0.5rem;
    cursor: pointer;
}

.colors button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin: 0.3rem;
    cursor: pointer;
}

.back-link {
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
}



@media screen and (max-width: 400px) {
    .catalog {
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 1000px) {
    .catalog {
        flex-direction: column;
        align-items: center;
    }
    
}
